*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.content {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  max-width: 1140px;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.content__list {
  height: 298px;
  overflow: auto;
  position: relative;
}

.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  color: #FFF;
  font-family: Oswald;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
}

.result__video {
  width: 711px;
  height: 386px;
  object-fit: cover;
}

.content__list-item:not(:last-child) {
  padding-bottom: 30px;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  height: 103px;
  background-size: cover;
}

.content__video-card-description-container {
  width: 100%;
  height: 100%;
}

.content__card-link {
  display: block;
  text-decoration: none;
  color: #FFF;
  margin: 2px;
  cursor: pointer;
}

.content__card-link_current {
  background: #545050;
}

.content__card-link:hover {
  text-decoration: underline;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #FFF;
}

.content__video-card-title {
  font-family: Oswald;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

fieldset {
  border: 0 none;
}

.search-form__label {
  display: flex;
  width: fit-content;
  cursor: pointer;
  gap: 5px;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  appearance: none;
}

.search-form__label-text {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  appearance: none;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form__checkbox[type="checkbox"]:checked+.search-form__pseudo-checkbox::before {
  opacity: 1;
  width: 15px;
  height: 15px;
  background-color: #FFF;
  content: "";
}

.button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #FFF;
  min-height: 34px;
  color: #FFF;
  text-align: center;
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.search-form__submit-button {
  min-width: 194px;
  margin-top: auto;
}

.more-button {
  width: 100%;
}

.button:focus {
  outline: none;
}

.search-form__submit-button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: 2px;
}

.more-button:focus-visible {
  outline: 1px solid #FFF;
  outline-offset: -4px;
}

.button:active {
  border: 1px solid #FFF;
  background: #545050;
}

.button:hover {
  text-decoration: underline;
}

.search-form__textfield {
  background-color: transparent;
  border-left: 0 none;
  border-right: 0 none;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  color: rgba(255, 255, 255, 0.70);
  font-family: Fira Sans Condensed;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  appearance: none;
  width: 225px;
}

/*
::-webkit-scrollbar {
  width: 10px;
}  
*/

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #FFF;
  outline-offset: 2px;
}

.search-form__textfield:active {
  border: 1px solid transparent;
}

.search-form__label:hover .search-form__label-text {
  text-decoration-line: underline;
  text-underline-offset: 4px;
}





